<div class="container">
  <h1>The All-In-One Toolkit for Working Remotely.</h1>
  <p>Before Basecamp: Projects feel scattered, things slip, it’s tough to see where things stand, and people are stressed. </p>
  <p>After Basecamp: Everything’s organized in one place, you’re on top of things, progress is clear, and a sense of calm sets in.</p>
  <%= link_to "About us", about_path, class:"btn btn-secondary" %>
  <%= link_to "Projects List", projects_path, class:"btn btn-primary" %>
</div>